<!DOCTYPE html>
<html>
    <head>
        <title>CODEgen</title>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="createAccount"><a href="{{ url_for('createAccount') }}"><button>Create Account</button></a></li>
                    <li class="loginLogo"><a href="{{ url_for('login') }}">login logo</a></li>
                </ul>
            </nav>
        </header>
        <section class="logo">
             <img src="{{ url_for('static', filename='images/CODEgen.jpg') }}" alt="logo image">
         </section>
        <section class="headline">
            convert HAND DRAWN digital<br>CIRCUIT to VHDL code   
        </section>
        <section class="click">
            <a href="{{ url_for('upload') }}"><button>Let's Get Started</button></a>
        </section>        
        <footer>
            <section class="footerText">● CODEgen© ● Documentation ● Github ●</section>
        </footer>
    </body>
</html> 
