<!DOCTYPE html>
<html>
<head>
    <title>CODEgen</title>
    <script src="{{ url_for('static', filename='pics.js') }}"></script>
    
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="createAccount"><a href="{{ url_for('createAccount') }}"><button>Create Account</button></a></li>
                <li class="loginLogo"><a href="{{ url_for('login') }}">login logo</a></li>
            </ul>
        </nav>
    </header>
    <section class="uploadWindow">
        <img class="uploadimage" src="{{ url_for('static', filename='images/upload.png') }}" alt="Uploaded-image">
    </section>
    <section class="uploadButtons">
        <div class="takePhotos , uploadClick">
            <button class="taking">Take Photo</button>
        </div>
        <div class="uploadClick">
            <button class="selectImage">Select Image</button>
        </div>
        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="image-file" name="image-file" accept="image/*">
            <button type="submit" id="upload-button">Upload</button>
          </form>
          
    </section>  
    <div class="uploadFinal">
        <button id="upbtnclick" class="upbtn">Upload</button>
    </div>
    <footer>
        <section class="footerText">● CODEgen© ● Documentation ● Github ●</section>
    </footer>
    <script src="{{ url_for('static', filename='upload2.js') }}"></script>
    <script src="{{ url_for('static', filename='upload3.js') }}"></script>

</body>
</html>
  <!--- <input type="file" id="imageInput" accept="image/*" style="display:none">-->
 